<%- include('partials/header'); %> 
<%- include('partials/navbar'); %>
<% var avatar = (locals.user.photoURL) ? locals.user.photoURL : '/images/default-avatar.png' ; %>
<div id="account-page">
    <% if (locals.errors && locals.errors.account) { %>
        <% locals.errors.account.forEach(function(error) { %>
            <p class="alert alert-primary" role="alert"><%= error %></p>
        <% }) %>
    <% } %>
    <div class="d-flex align-items-center flex-column mt-5">
        
        <img src="<%= avatar %>" alt="avatar" id="avatar">

        <form action="/account" method="post" enctype="multipart/form-data" class="d-flex align-items-center flex-column">
            <div class="input-group mt-3">
                <input type="file" class="custom-file-input" name="avatar" id="avatar-upload">
                <label class="custom-file-label">Choose file</label>
            </div>
            <input type="text" name="displayName" placeholder="Display Name" value="<%= locals.user.displayName %>">
            <input type="email" name="email" placeholder="Email" value="<%= locals.user.email %>">
            <button type="submit" id="update-button" class="mt-3">Update</button>
        </form>
        <form action="/password" method="post" class="d-flex align-items-center flex-column">
            <input type="password" name="password" placeholder="New Password">
            <input type="password" name="passwordConfirm" placeholder="Confirm Password">
            <button type="submit" id="update-password-button" class="mt-3">Update Password</button>
        </form>
    </div>
</div>
<%- include('partials/footer'); %>