<%- include('partials/header'); %> 
<% 
var showChannel = locals.channel.channel
var messages = locals.messages
var user = locals.user
var participants = (locals.channel.inUsers) ? locals.channel.inUsers : false
%> 
<div id="channel-main" class="p-5 container-fluid h-100">
	<div id="channels-sidebar">
		<% if (participants) { %>
		<div id="participants">
			<h4>Channel Members</h4>
			<ul class="list-group">
			<% participants.forEach(function(user) { %>
				<li id="user<%= user.id %>">
					<div class="avatar">
						<img src="<%= user.image %>" alt="<%= user.name %>">
					</div>
					<p><%= user.name %> <small class="text-muted d-none"> typing... </small></p>
				</li>
			<% }) %>
			</ul>
		</div>
		<% } else { %>
			<p><div class="alert alert-primary" role="alert">Make some friends on here and add them to your channels!</div></p>
		<% }  %>
	</div>  
	<div id="chat-block">
		<main role="main" id="chat-area">
			<h1><%= channels.name %></h1>
			<div id="chat">
			<% if (messages) { %>
				<% messages.forEach(function(message) { %>
				<div class="message <%=message.direction%>" data-time="<%=message.time%>">
					<div class="user">
						<img src="<%=message.user.image%>" alt="Image">
						<p><%=message.user.name%></p>
					</div>
					<p><%=message.msg%></p>
					<small class="text-muted time"></small>
				</div>
				<% }) %>
			<% }  %>
			</div>           
			<div id="message">
				<form id="message-form">
					<textarea id="message-box" placeholder="Type your message here"></textarea>
					<input 
						data-user='{"uid":"<%= locals.user.uid %>","name":"<%= locals.user.displayName %>","image":"<%= locals.user.photoURL %>"}'
						data-channel='{"uid":"<%= channel.id %>","name":"<%= channel.name %>"}'
						type="hidden" id="chat-info">
					<button id="send-message" type="submit">Send</button>
				</form>
			</div>
		</main>
	</div>
</div><!-- end #main -->
<%- include('partials/footer'); %>